<div class="container mt-4">
  <h2 class="mb-3">Listado de publicaciones</h2>

  <div id="post-detail" *ngIf="selectedPost" class="alert alert-info">
    <h4 class="mb-3">Detalle seleccionado</h4>
    <p><strong>ID:</strong> {{ selectedPost.id }}</p>
    <p><strong>User ID:</strong> {{ selectedPost.userId }}</p>
    <p><strong>Título:</strong> {{ selectedPost.title }}</p>
    <p><strong>Contenido:</strong> {{ selectedPost.body }}</p>
  </div>

  <div *ngFor="let post of posts">
    <app-post-item
      [post]="post"
      (postClicked)="onPostSelected($event)">
    </app-post-item>
  </div>
</div>